# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
Pipfile.lock
Pipfile

# Database
db.sqlite3

# IDE/Editor
.vscode/
.idea/
.vs/

# Logs
*.log

# Compiled Python files
*.pyc
*.pyo
*.pyd

# User-specific files
.DS_Store

# Environment variables
.env

# Ignore migrations
**/migrations/
